

.greetingMensaje {
  display: flex;
  justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #314052; 
    margin-bottom: 10px;
  }

  .fondoDiv{
     width:15% ;
    min-height: 100vh; 
  }

  .productoContenedor {
    display: flex;
    flex-direction: column;
    padding: 20px;
      max-width: 1424px;
    margin: 0 auto;
  }
  
  .productoImagen {
    width: 100%;
    max-width: 585px;
  }
  
 
  .product-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 30px 60px;
    margin: 40px 20px;
    min-height: 30rem;
  }
  
  
 