.alertContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;/* Ajusta la altura al 100% del viewport para centrar verticalmente */
  }

  .alert {
    width: 300px; /* Ancho fijo del alert */
    height: 300px; /* Alto fijo del alert */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border: 1px solid #333333; /* Borde del alert */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra del alert */
  }