.cartWidget {
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  
  .contadorCarrito {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #fffdfd;
    background-color: rgb(220, 41, 41);
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 17px;
  }
  